@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.marquee {
    width: 100%;
    background-color: rgb(10, 66, 101);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: #e0e0e0;
    text-align: center;
    padding-block: 10px;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
}

.marquee:hover {
    background-color: #292929;
    color: white;
}

.marquee:hover p {
    animation-play-state: paused;
}

.marquee p {
    display: inline-block;
    animation: marquee 20s linear infinite alternate;
}

.marquee img.marquee-logo {
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
    padding-inline: 1.5px;
    padding-block: 1px;
    background-color: #ffffff;
    border-radius: 2px;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.background-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('backgroundlogin.jpg') no-repeat center center/cover;
}



.login-container {
    width: 90vw;
    max-width: 400px;
    padding: 20px;
    background: linear-gradient(135deg, #9ce1ff, rgb(40, 42, 44));
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    z-index: 3;
    margin-top: 20px;
}

.login-container:hover {
    background: linear-gradient(135deg, rgb(9, 43, 87), #9ce1ff);
}

.login-container h6 {
    color: white;
    font-size: 0.8rem;
    margin-top: 10px;
    text-align: center;
}

.login-box {
    background: #ffffff;
    /* background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); */
    padding: 20px;
    border-radius: 1rem;
    text-align: center;
    position: relative;
}

.login-box h2 {
    margin-bottom: 20px;
    color: rgb(5, 5, 5);
}

.login-box p {
    font-size: 0.9rem;
    margin-top: 20px;
    margin-bottom: -15px;
    margin-inline: 20px;
}

.info h2 {
    margin-bottom: 20px;
    color: rgb(5, 5, 5);
}

.info p {
    margin-top: 20px;
    margin-inline: -2px;
    margin-bottom: 10px;
}

.info .btn {
    outline: none;
    border: none;
    background-color: rgb(255, 200, 1);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.01s ease;
    margin-bottom: 10px;
}

.inputBox {
    position: relative;
    margin-bottom: 25px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    color: black;
    font-size: 18px;
}

.inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px;
    font-size: 18px;
    color: #000;
    pointer-events: none;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
    top: -20px;
    left: 0;
    color: #2554b3;
    font-weight: bold;
    font-size: 14px;
}

.btn {
    outline: none;
    border: none;
    background-color: rgb(255, 200, 1);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem 7rem;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.01s ease;
}

.btn:hover {
    color: white;
    background-color: rgb(5, 5, 5);
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: red;
    margin-top: 10px;
}

.bubble-teks {
    display: none;
    position: absolute;
    width: 30vw;
    max-width: 200px;
    z-index: 2;
}

.motor-container {
    position: absolute;
    bottom: 84%;
    left: 10%;
    transform: translateX(-50%);
    z-index: 1;
}

.motor-animation, .motor-baruteks {
    height: 35vw;
    width: auto;
    animation: motorMove 1.5s infinite;
    position: absolute;
    left: 0;
}

@keyframes motorMove {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(0, -10px); }
}

/* Media query untuk penyesuaian pada layar yang lebih kecil */
@media (max-width: 768px) {
    .login-container {
        width: 90vw;
    }
    
    .motor-animation, .motor-baruteks {
        width: 60vw;
    }

    .bubble-teks {
        width: 40vw;
        top: 25%;
    }
}

.svg-toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.open-eye {
    display: none; /* Default disembunyikan */
}

.closed-eye {
    display: block; /* Default ditampilkan */
}

/* Gaya untuk "Lupa password?" */
.forgot-password {
    margin-top: 20px;
    margin-bottom: -10px;
}

.forgot-password a {
    font-size: 0.9em;
    color: #000;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
    color: #2554b3;
}

/* Gaya khusus untuk tombol "Login Kembali" (opsional) */
#backToLogin {
    margin-top: 20px;
}