@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(21, 21, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ganti dari height ke min-height */
    overflow: hidden;
}

.marquee {
    width: 100%;
    background-color: rgb(10, 66, 101);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: #e0e0e0;
    text-align: center;
    padding-block: 10px;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
}

.marquee:hover {
    background-color: #292929;
    color: white;
}

.marquee:hover p {
    animation-play-state: paused;
}

.marquee p {
    display: inline-block;
    animation: marquee 20s linear infinite alternate;
}

.marquee img.marquee-logo {
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
    padding-inline: 1.5px;
    padding-block: 1px;
    background-color: #ffffff;
    border-radius: 2px;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.background-container {
    position: relative;
    width: 100vw; /* Menggunakan unit viewport width */
    height: 100vh; /* Menggunakan unit viewport height */
    background: linear-gradient(135deg, rgb(9, 43, 87), #9ce1ff);
    background-size: cover;
    background-position: center;
}

.login-container {
    width: 90vw; /* Menggunakan unit viewport width */
    max-width: 400px;
    padding: 20px;
    background: linear-gradient(135deg, rgb(44, 108, 163), #9ce1ff);
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.login-container:hover {
    background: linear-gradient(135deg, rgb(9, 43, 87), #9ce1ff);
}

.login-box {
    background: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    padding: 20px;
    border-radius: 1rem;
    text-align: center;
    position: relative;
}

.login-box h2 {
    margin-bottom: 20px;
    color: rgb(5, 5, 5);
}

.inputBox {
    position: relative;
    margin-bottom: 20px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    color: black;
    font-size: 18px;
}

.inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 18px;
    color: #000;
    pointer-events: none;
    transition: 0.5s;
}

.inputBox input:focus ~ label,
.inputBox input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 14px;
}

.btn {
    outline: none;
    border: none;
    background-color: rgb(255, 200, 1);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.01s ease;
}

.btn:hover {
    color: white;
    background-color: rgb(5, 5, 5);
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: red;
    margin-top: 10px;
}

.bubble-teks {
    display: none;
    position: absolute;
    /* top: 20%; 
    left: 20px; Align left */
    transform: translate(-110%, 0); /* Adjust the left position as needed */
    width: 30vw; /* Menggunakan unit viewport width */
    max-width: 200px; /* Batas maksimum lebar */
    z-index: 2;
}

.motor-container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.motor-animation {
    width: 40vw; /* Menggunakan unit viewport width */
    max-width: 500px; /* Batas maksimum lebar */
    animation: motorMove 1.5s infinite;
    position: relative;
}

@keyframes motorMove {
    0%, 100% { transform: translate(-50%, 0); }
    50% { transform: translate(-50%, -10px); }
}

/* Media query untuk penyesuaian pada layar yang lebih kecil */
@media (max-width: 768px) {
    .login-container {
        width: 90vw;
    }
    
    .motor-animation {
        width: 60vw; /* Lebih kecil untuk layar sempit */
    }

    .bubble-teks {
        width: 40vw; /* Lebih kecil untuk layar sempit */
        top: 25%;
    }
}
